<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> 
<html lang="en" ng-app='homeApp'> <!--<![endif]-->
<head>
    <title>Twyst | Order Food, Get Cashback</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Twyst lets you order food and earn cashback on every order!">
    <meta name="author" content="Team Twyst">
    <!-- Favicon -->
    <link rel="shortcut icon" href="twyst_icon_48.png">

    <!-- Web Fonts -->
    <link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin'>

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/one.style.css">
    <link rel="stylesheet" href="assets/css/app.css">
    <link rel="stylesheet" href="assets/css/blocks.css">
    <link rel="stylesheet" href="assets/css/plugins.css">


    <!-- CSS Footer -->
    <link rel="stylesheet" href="assets/css/footers/footer-v7.css">
    <link rel="stylesheet" href="assets/css/footers/footer-v1.css">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="assets/plugins/animate.css">
    <!--link rel="stylesheet" href="assets/plugins/owl-carousel/owl.carousel.css"-->
    <!--link rel="stylesheet" href="assets/plugins/owl-carousel/owl.theme.css"-->
    <link rel="stylesheet" href="assets/plugins/line-icons-pro/styles.css">
    <link rel="stylesheet" href="assets/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/plugins/owl.carousel.2.0.0-beta.3/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/plugins/owl.carousel.2.0.0-beta.3/assets/owl.theme.default.min.css">

    <!-- CSS Customization -->
    <link rel="stylesheet" href="assets/css/custom.css">
    <link rel="stylesheet" href="assets/css/style.css">

</head>

<!--
The #page-top ID is part of the scrolling feature.
The data-spy and data-target are part of the built-in Bootstrap scrollspy function.
-->
<body id="body" data-spy="scroll" data-target=".one-page-header" class="demo-lightbox-gallery" ng-controller='MainController'>

    <!--=== Header ===-->
    <nav class="one-page-header one-page-header-style-2 navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="menu-container page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="#intro">
                    <img src="assets/img/twyst_transparent_logo_100x35.png" alt="twyst.in">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <div class="menu-container">
                    <ul class="nav navbar-nav">
                        <li class="page-scroll home">
                            <a href="#body">HOME</a>
                        </li>
                        <li class="page-scroll">
                            <a href="#howitworks">HOW IT WORKS</a>
                        </li>
                        <li class="page-scroll">
                            <a href="#getapp">GET APP</a>
                        </li>
                        <li class="page-scroll">
                            <a href="#contact">CONTACT US</a>
                        </li>
                        <!-- <li class="page-scroll">
                            <a href="http://blog.twyst.in">BLOG</a>
                        </li> -->
                    </ul>
                    <ul class="log-reg-block visible-md-block visible-lg-block">
                        <li>
                            <a href="/merchant" class="btn theme-orange" type="button">Merchant</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <!--=== End Header ===-->

    <!--=== Intro Section ===-->
    <section id="intro" class="intro-section">
        <div class="dottedoverlay">
            <div id="slides">
              <div class='fixed-slide-left'>

                <div class='screenshot-text'>
                  <h1 class='shadow-heading'>
                    <strong>Order food,<br>Get Cashback<br>Everytime!</strong></h1>
                  <p style="text-shadow:1px 1px 4px #000;font-size:20px;">Use Twyst and get cashback everytime you order!</p>
                  <a href="https://play.google.com/store/apps/details?id=com.twyst.app.android&hl=en" class="btn-u btn-banner btn-android theme-orange">
                    <i class="fa fa-android fa-2x"></i> Download App<br>
                    <span>From Google Play</span>
                  </a>
                  <a href="#getapp" class="btn-u btn-banner btn-android theme-red">
                    <i class="fa fa-mobile fa-2x"></i>&emsp;Link as SMS?<br>
                    <span>for android device</span>
                  </a>

                </div>
              </div>

              <div class='fixed-slide-right'>
                <div class='transparent-phone'></div>

                  <div class='sliding-image'>
                      <ul class='image_slider'>
                          <li><img class='inset-slides' src='assets/img/screenshots/6.png'></li>
                          <li><img class='inset-slides' src='assets/img/screenshots/4.png'></li>
                          <li><img class='inset-slides' src='assets/img/screenshots/5.png'></li>
                      </ul>
                  </div>

              </div>

              <ul class="slides-container">
                <li class='bg1'></li>
                <li class='bg2'></li>
              </ul>
              <nav class="slides-navigation">
                <a href="#" class="next">Next</a>
                <a href="#" class="prev">Previous</a>
              </nav>
            </div>
        </div>
    </section>
    <!-- End Intro Section -->

    <!--=== Services Section ===-->
    <section id="howitworks">
        <div class="container content">
            <div class="title-v1">
                <h2>HOW TWYST WORKS</h2>
            </div>

            <div class="row service-box-v1">
                <div class="col-md-4 col-sm-6">
                    <div class="service-block service-block-default">
                        <i class="icon-custom icon-tw icon-bg-twyst rounded-x icon-line-tw icon-food-003"></i>
                        <h2 class="heading-md">Step 1: ORDER FOOD</h2>
                        <p>Order food from your favourite restaurants on Twyst.</p>
                       
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="service-block service-block-default">
                        <i class="icon-custom icon-tw icon-bg-twyst rounded-x icon-line-tw icon-finance-150"></i>
                        <h2 class="heading-md">Step 2: GET CASHBACK</h2>
                        <p>Earn Cashback on every order in the form of Twyst Cash. 1 Twyst Cash = 1 Rupee!</p>
                      
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="service-block service-block-default">
                        <i class="icon-custom icon-tw icon-bg-twyst rounded-x icon-line-tw icon-communication-068"></i>
                        <h2 class="heading-md">Step 3: REDEEM</h2>
                        <p>Use your Twyst Cash to shop online: recharge, pay for phone bills, or for ordering even more food!</p>
                       
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Services Section -->

    <!--=== New Get App Section ===-->
    <section id="getapp" class="contacts-section">
        <div class='triangular-overlay'></div>
        <div class="container-fluid content">
            <div class="title-v1">
                <div class="g-heading-v10 g-mb-65">
                    <h2 style='color:#F5F5F5;'>Download the App</h2>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row getapprow">
                <div class="col-md-6 getappcontent getappcol">
                    <div class="row">
                        <div class="col-xs-3"></div>
                        <div class="col-xs-6">
                            <div>
                                <h2>Get a Download Link:<br><br></h2>
                            </div>
                            <div class="input-group">
                                <input type="text" class="form-control input-style" ng-model='req.phone' name="phone" placeholder="Enter 10 Digit Mobile No.">
                                <span class="input-group-btn">
                                    <button class="btn-u btn-sub theme-orange" type="button" ng-click='get_link_on_phone()'>Get Link</button>
                                    <span ng-if='sending_phone'><i class='fa fa-spinner fa-spin'></i> Sending...</span>
                                    <span ng-if='!sending_phone'>Get Link</span>
                                </span>
                            </div>
                            
                            <div>
                                <h2>- OR -</h2>
                            </div>
                            <div class='input-group'>
                                <a href="https://play.google.com/store/apps/details?id=com.twyst.app.android&hl=en" class="btn-u btn-banner btn-android theme-orange">
                                    <i class="fa fa-android fa-2x"></i> Download App<br>
                                    <span>From Google Play</span></a>
                            </div>
                        </div>
                        <div class="col-xs-3">
                          <img src='assets/img/screenshots/2.png' style="width:400px !important;height:700px !important;margin-top:-120px;margin-left:300px">
                        </div>
                    </div>
                </div>
                <div class="col-md-6 getappcontent getappcol">
                    <div id="appslideshow" class="owl-carousel">

                        <div class="item"><img src='assets/img/screen1.png'></div>
                        <div class="item"><img src='assets/img/screen2.png'></div>
                        <div class="item"><img src='assets/img/screen3.png'></div>

                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--=== End New Get App Section ===-->

    <!--=== Contact Section ===-->
    <section id="contact" class="news-section content-md">
     
      <div class='container'>
      <div class='row contacts-section-style'>
        <div class='col-md-4'>
          <h1>Answers to <strong>your questions!</strong></h1>
        </div>

        <form ng-submit='contact_us()'>
          <div class='col-md-4'>
            <div class='form-group'>
              <input type='text' class='form-control smooth-corner' ng-model='contact.name' placeholder="Your Name">
            </div>
            <div class='form-group'>
              <input type='email' class='form-control smooth-corner' ng-model='contact.email' placeholder="abc@some.com">
            </div>
          </div>
          <div class='col-md-4'>
            <div class='form-group'>
              <textarea rows='7' class='form-control'  ng-model='contact.comments' placeholder="Ask us your queries. [Make sure to use atleast 50 characters.]"></textarea>
            </div>
            <p>[Atleast 50 characters needed]</p>
            <div class='form-group'>
              <button type="submit" ng-disabled='disable_contact' class='btn-u btn-sub theme-orange form-control'>
                  <span ng-if='!disable_contact'>Submit</span>
                  <span ng-if='disable_contact'><i class='fa fa-spinner fa-spin'></i> Submitting...</span>
              </button>
            </div>
          </div>
        </form>
        <div>

        </div>
      </div>
      </div>
    </section>
    <!-- End Contact Section -->

    <!--=== Footer v1 ===-->
    <div id="footer-v1" class="footer-v1">

        <!--=== About ===-->
        <div class="footer">
            <div class="container">
                <div class="row">

                    <!-- About -->
                    <div class="col-md-6 md-margin-bottom-40">
                        <a href="index.html"><img id="logo-footer" class="footer-logo" src="assets/img/twyst_transparent_logo_tight_200x59.png" alt=""></a>
                        <p>Food, Ordering and Cashback</p>
                    </div>
                    <!-- End About -->

                    <!-- Link List -->
                    <div class="col-md-3 md-margin-bottom-40">
                        <div class="headline">
                            <h2>Links</h2></div>
                        <ul class="list-unstyled link-list">
                            <li><a href="https://angel.co/twyst-in" target="_blank">Latest Jobs</a>&nbsp;<i class="fa fa-angle-right"></i></li>
                        </ul>
                    </div>
                    <!-- End Link List -->

                    <!-- Social -->
                    <div class="col-md-3 map-img md-margin-bottom-40">
                        <div class="headline">
                            <h2>Contact Us</h2>
                        </div>
                        <p>
                          Email: <a href="mailto:contactus@twyst.in">contactus@twyst.in</a>
                        </p>
                        <p>Connect with us on:</p>
                          <div class="social-items fb">
                            <div class='social'>
                              <i class='fa fa-facebook fa-2x'></i>
                            </div>
                          </div>

                          <div class="social-items linked_in">
                            <div class='social'>
                              <i class='fa fa-linkedin fa-2x'></i>
                            </div>
                          </div>

                          <div class="social-items twitter">
                            <div class='social'>
                              <i class='fa fa-twitter fa-2x'></i>
                            </div>
                          </div>
                    </div>
                    <!-- /Social -->

                </div>
            </div>
        </div>
        <!-- End Twyst Description -->

        <!-- Copyright, TOU, Privacy Policy -->
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p>
                            2016 &copy; All Rights Reserved.
                            <a href="/privacy_policy/" target='_blank'>Privacy Policy</a> | <a href="/terms_of_use/" target="_blank">Terms of Use</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!--/Copyright, TOU, Privacy Policy -->

    </div>
    <!--=== /Footer v1 ===-->

    <!-- JS Global Compulsory -->
    <script src="assets/plugins/jquery/jquery.min.js"></script>
    <script src="assets/plugins/jquery/jquery-migrate.min.js"></script>
    <script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- JS Implementing Plugins -->
    <script src="assets/plugins/smoothScroll.js"></script>
    <script src="assets/plugins/owl.carousel.2.0.0-beta.3/owl.carousel.min.js"></script>


    <!-- JS Page Level-->
    <script src="assets/js/one.app.js"></script>
    <script src="assets/js/phoneSwipeSim.js"></script>
    <script src="assets/plugins/superslides/jquery.superslides.min.js"></script>


    <script>
        $(function() {
            App.init();
            $('#slides').superslides({
                play : 10000,
                pagination : true
            });
            $('appslideshow').owlCarousel();
            /*$("appslideshow").owlCarousel();*/
            /*OwlCarousel.initOwlCarousel();*/
            /*ContactForm.initContactForm();*/
            /*RevolutionSlider.initRSfullScreen();*/
        });
    </script>

</body>
</html>
