<div>&nbsp;</div>
<div class='container-fluid'>
    <div class='row'>
        <div class='col-sm-12'>
            <section class='panel panel-default table-dynamic'>
                <div class='panel-heading'>
                    <strong><span class='glyphicon glyphicon-th'></span> Banners</strong>
                </div>
                <div class='table-filters'>
                    <div class='row'>
                        <div class='col-sm-4 col-xs-6'>
                            <form>
                                <input type='text' placeholder='Search...' class='form-control' ng-model='searchKeywords' ng-keyup='search()'>
                            </form>
                        </div>
                        <div class='col-sm-3 col-xs-6 filter-result-info'>
                            <span>Showing {{filtered_banners.length}}/{{banners.length}} Banners.</span>
                        </div>
                    </div>
                </div>
                <div class='header-tools'>
                    <div class='pull-left t5'>
                        <a class='btn btn-default' ui-sref='^.banner_create'>
                            <i class='fa fa-plus'></i>&nbsp;Add Banner
                        </a>
                    </div>
                </div>
                <div class='clearfix'></div>
                <div>&nbsp;</div>
                <table class='table table-bordered table-hover table-striped table-responsive' style='min-height:400px;'>
                    <thead>
                        <tr>
                            <th>
                                <div class='th text-center'>
                                    Actions
                                </div>
                            </th>
                            <th>
                                <div class='th text-center'>
                                    Banner Type
                                    <span class='fa fa-angle-up' ng-click='order("banner_type")' ng-class='{active: row === "banner_type"}'></span>
                                    <span class='fa fa-angle-down' ng-click='order("-banner_type")' ng-class='{active: row === "-banner_type"}'></span>
                                </div>
                            </th>
                            <th>
                                <div class='th text-center'>
                                    Header
                                    <span class='fa fa-angle-up' ng-click='order("header")' ng-class='{active: row === "header"}'></span>
                                    <span class='fa fa-angle-down' ng-click='order("-header")' ng-class='{active: row === "-header"}'></span>
                                </div>
                            </th>
                            <th>
                                <div class='th text-center'>
                                    Expiry Date
                                    <span class='fa fa-angle-up' ng-click='order("end_date")' ng-class='{active: row === "end_date"}'></span>
                                    <span class='fa fa-angle-down' ng-click='order("-end_date")' ng-class='{active: row === "-end_date"}'></span>
                                </div>
                            </th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat='banner in current_page_banners track by $index'>
                            <td>
                            	<div>
	                                <div class='hidden-xs'>
	                                    <a class='btn btn-default' ui-sref='^.banner_edit({banner_id: banner._id})'>
	                                        <i class='fa fa-pencil'></i> Edit
	                                    </a>
	                                    <div class='btn-group dropdown'>
		                                    <button type='button' class='btn btn-default dropdown-toggle' data-toggle='dropdown'>
		                                        More
		                                        <span class='caret'></span>
		                                    </button>
		                                    <ul class='dropdown-menu'>
		                                        <li>
		                                            <a ng-click='removeBanner(banner._id)'>
		                                                <i class='fa fa-trash-o text-danger'></i>
		                                                <span class="text-danger">Delete</span>
		                                            </a>
		                                        </li>
		                                    </ul>
		                                </div>
	                                </div>
                                	
                                </div>
                            </td>
                            <td>{{banner.banner_type}}</td>
                            <td>{{banner.header}}</td>
                            <td>{{banner.expiry_date}}</td>                            
                            <td class='text-right'>{{banner.length}}</td>
                        </tr>
                    </tbody>
                </table>
                <footer class='table-footer'>
                    <div class='row'>
                        <div class='col-sm-6 page-num-info'>
                            <span>
                                Show
                                <select ng-model='numPerPage' ng-options='num for num in numPerPageOpt' ng-change='onNumPerPageChange()'></select>
                                entries per page
                            </span>
                        </div>
                        <div class='col-sm-6 text-right pagination-container'>
                            <pagination class='pagination-sm' ng-model='currentPage' total-items='filtered_banners.length' max-size='4' ng-change='select(currentPage)' items-per-page='numPerPage' rotate='false' previous-text="&lsaquo;" next-text="&rsaquo;" boundary-links='true'></pagination>
                        </div>
                    </div>
                </footer>
            </section>
        </div>
    </div>
</div>
