<div>&nbsp;</div>
<div class='container-fluid'>
    <div class='row'>
        <div class='col-sm-offset-2 col-sm-8'>
            <form class='form-horizontal'>
                <legend>Shopping Offer Update</legend>
                <button type='button' class='btn btn-w-md btn-gap-v btn-primary pull-right' ng-click='updateShoppingOffer()'> Update Offer</button>
                <div class='clearfix'></div>
                <p>&nbsp;</p>
                <div class='form-group'>
                    <label class='col-sm-3 control-label'>Partner Name <i class='fa fa-sm fa-asterisk'></i></label>
                    <div class='col-sm-8'>
                        <input type='text' ng-model='offer.partner_name' class='form-control'>
                    </div>
                </div>
                <div class='form-group'>
                    <label class='col-sm-3 control-label'>Contact Person <i class='fa fa-sm fa-asterisk'></i></label>
                    <div class='col-sm-8'>
                        <input type='text' ng-model='offer.contact_person' class='form-control'>
                    </div>
                </div>
                <div class='form-group'>
                    <label class='col-sm-3 control-label'>Contact Email <i class='fa fa-sm fa-asterisk'></i></label>
                    <div class='col-sm-8'>
                        <input type='email' ng-model='offer.email' class='form-control'>
                    </div>
                </div>
                <div class='form-group'>
                    <label class='col-sm-3 control-label'>Contact Phone <i class='fa fa-sm fa-asterisk'></i></label>
                    <div class='col-sm-8'>
                        <input type='text' ng-model='offer.phone' class='form-control'>
                    </div>
                </div>
                <div class='form-group'>
                    <label class='col-sm-3 control-label'>Offer Source <i class='fa fa-sm fa-asterisk'></i></label>
                    <div class='col-sm-8'>
                        <input type='text' ng-model='offer.source' class='form-control'>
                    </div>
                </div>
                <div class='form-group'>
                    <label class='col-sm-3 control-label'>Offer Logo</label>
                    <div class='col-sm-5'>
                        <imagereader ng-image-for='shopping_offer' ng-image-type='logo' ng-model='offer.logo'>
                    </div>
                </div>
                <button type='button' class='btn btn-w-md btn-gap-v btn-default' ng-click='addNewOffer()'><i class='fa fa-plus'></i> Add Offer</button>
                <div class='clearfix'></div>
                <div ui-tree>
                    <ol ui-tree-nodes ng-model='offer.offers'>
                        <li ng-repeat='shopping_offer in offer.offers track by $index' ui-tree-node>
                            <div ui-tree-handle data-nodrag class='tree-node tree-node-content'>
                                {{shopping_offer.offer_source}} : {{shopping_offer.offer_type}}
                                <a class='pull-right btn btn-sm btn-danger' ng-click='removeOffer($index)'><i class='fa fa-trash-o'></i></a>&nbsp;&nbsp;
                                <a class='pull-right btn btn-sm btn-warning' ng-click='updateOffer($index)'><i class='fa fa-pencil'></i></a>
                            </div>
                        </li>
                    </ol>
                </div>
            </form>
        </div>
    </div>
</div>
