<div>&nbsp;</div>
<div class='container-fluid'>
    <div class='row'>
        <div class='col-sm-offset-2 col-sm-8'>
            <form class='form-horizontal'>
                <legend>Coupon Create</legend>
                <button type='button' class='btn btn-w-md btn-gap-v btn-primary pull-right' ng-click='createCoupon()'> Create Coupon</button>
                <div class='clearfix'></div>
                <p>&nbsp;</p>
                <div class='form-group'>
                    <label class='col-sm-3 control-label'>Coupon code <i class='fa fa-sm fa-asterisk'></i></label>
                    <div class='col-sm-8'>
                        <input type='text' ng-model='coupon.code' class='form-control'>
                    </div>
                </div>
                <div class='form-group'>
                    <label class='col-sm-3 control-label'>Outlets <i class='fa fa-sm fa-asterisk'></i></label>
                    <div class='col-sm-8'>
                        <input type='text' ng-model='coupon.Outlets' class='form-control'>
                    </div>
                </div>
                <div class='form-group'>
                  <label class='col-sm-3 control-label'>Apply only on first order <i class='fa fa-sm fa-asterisk'></i></label>
                    <label class='control-label'><input type='text' ng-model='coupon.only_on_first_order' name='first_order' value='true' class='form-control'>Yes</label>
                    <!-- <label class='control-label'><input type='radio' ng-model='coupon.only_on_first_order' name='first_order' value='false' class='form-control'>No</label> -->
                </div>
                <div class='form-group'>
                    <label class='col-sm-3 control-label'>Use limit <i class='fa fa-sm fa-asterisk'></i></label>
                    <div class='col-sm-8'>
                        <input type='number' ng-model='coupon.max_use_limit' class='form-control'>
                    </div>
                </div>
                <div class='form-group'>
                    <label class='col-sm-3 control-label'>Type <i class='fa fa-sm fa-asterisk'></i></label>
                    <div class='col-sm-8'>
                      <select class='form-control' name='type'>
                        <option value='single'>Single</option>
                        <option value='multi'>Multi</option>
                      </select>
                        <!-- <input type='text' ng-model='coupon.type' name='type' class='form-control'> -->
                    </div>
                </div>
                <div class='form-group'>
                    <label class='col-sm-3 control-label'>Per user limit <i class='fa fa-sm fa-asterisk'></i></label>
                    <div class='col-sm-8'>
                        <input type='text' ng-model='coupon.per_user_limit' class='form-control'>
                    </div>
                </div>
                <div class='form-group'>
                    <label class='col-sm-3 control-label'>Offer Start date <i class='fa fa-sm fa-asterisk'></i></label>
                    <div class='col-sm-8'>
                        <input type='date' ng-model='coupon.start_date' class='form-control'>
                    </div>
                </div>
                <div class='form-group'>
                    <label class='col-sm-3 control-label'>Offer End date <i class='fa fa-sm fa-asterisk'></i></label>
                    <div class='col-sm-8'>
                        <input type='date' ng-model='coupon.end_date' class='form-control'>
                    </div>
                </div>
                <div class='form-group'>
                    <label class='col-sm-3 control-label'>Offer Logo</label>
                    <div class='col-sm-5'>
                        <imagereader ng-image-for='cashback_coupon' ng-image-type='logo' ng-model='coupon.logo'>
                    </div>
                </div>
                <button type='button' class='btn btn-w-md btn-gap-v btn-default' ng-click='addNewOffer()'><i class='fa fa-plus'></i> Add Offer</button>
                <div class='clearfix'></div>
                <div ui-tree>
                    <ol ui-tree-nodes ng-model='offer.offers'>
                        <li ng-repeat='cashback_offer in offer.offers track by $index' ui-tree-node>
                            <div ui-tree-handle data-nodrag class='tree-node tree-node-content'>
                                {{cashback_offer.offer_source}} : {{cashback_offer.offer_type}}
                                <a class='pull-right btn btn-sm btn-danger' ng-click='removeOffer($index)'><i class='fa fa-trash-o'></i></a>&nbsp;&nbsp;
                                <a class='pull-right btn btn-sm btn-warning' ng-click='updateOffer($index)'><i class='fa fa-pencil'></i></a>
                            </div>
                        </li>
                    </ol>
                </div>
            </form>
        </div>
    </div>
</div>
