<div>&nbsp;</div>
<div class='container-fluid'>
    <div class='row'>
        <div class='col-sm-offset-2 col-sm-8'>
            <form class='form-horizontal'>
                <legend>Cashback Coupon Update</legend>
                <button type='button' class='btn btn-w-md btn-gap-v btn-primary pull-right' ng-click='updateCoupon(coupon._id)'> Update Coupon</button>
                <div class='clearfix'></div>
                <p>&nbsp;</p>
                <div class='form-group'>
                    <label class='col-sm-3 control-label'>Coupon code <i class='fa fa-sm fa-asterisk'></i></label>
                    <div class='col-sm-8'>
                        <input type='text' ng-model='coupon.code' class='form-control'>
                    </div>
                </div>
                <!-- <div class='form-group'>
                    <label class='col-sm-3 control-label'>Outlets <i class='fa fa-sm fa-asterisk'></i></label>
                    <div class='col-sm-8'>
                        <input type='text' ng-model='searchKeywords' class='form-control' ng-keyup='search()'>
                    </div>
                </div> -->
                <div class='form-group'>
                    <label class='col-sm-3 control-label'>Coupon valid on all outlets <i class='fa fa-sm fa-asterisk'></i></label>
                    <div class='col-sm-8'>
                      <input type='checkbox' class='form-control' style='width:15px;' ng-model='coupon.all_outlets' name='first_order' class='form-control'>(tick for yes)
                    </div>
                </div>
                <div class='form-group'>
                    <label class='col-sm-3 control-label'>Use limit <i class='fa fa-sm fa-asterisk'></i></label>
                    <div class='col-sm-8'>
                        <input type='number' ng-model='coupon.max_use_limit' class='form-control'>
                    </div>
                </div>
                <div class='form-group'>
                    <label class='col-sm-3 control-label'>Type <i class='fa fa-sm fa-asterisk'></i></label>
                    <div class='col-sm-8'>
                      <select class='form-control' name='type'>
                        <option value='single'>Single</option>
                        <option value='multi'>Multi</option>
                      </select>
                        <!-- <input type='text' ng-model='coupon.type' name='type' class='form-control'> -->
                    </div>
                </div>
                <div class='form-group'>
                    <label class='col-sm-3 control-label'>Per user limit <i class='fa fa-sm fa-asterisk'></i></label>
                    <div class='col-sm-8'>
                        <input type='text' ng-model='coupon.per_user_limit' class='form-control'>
                    </div>
                </div>
                <div class='form-group'>
                    <label class='col-sm-3 control-label'>Offer Start date <i class='fa fa-sm fa-asterisk'></i></label>
                    <div class='col-sm-8'>
                        <datepicker ng-model='coupon.validity.start'  show-weeks='true' class='well well-sm'></datepicker>
                        <!-- <input type='date' ng-model='coupon.validity.start' class='form-control'> -->
                    </div>
                </div>
                <div class='form-group'>
                    <label class='col-sm-3 control-label'>Offer End date <i class='fa fa-sm fa-asterisk'></i></label>
                    <div class='col-sm-8'>
                        <datepicker ng-model='coupon.validity.end'  show-weeks='true' class='well well-sm'></datepicker>
                        <!-- <input type='date' ng-model='coupon.validity.end' class='form-control'> -->
                    </div>
                </div>

                <div class='well well-lg'>
                    <form class='form-horizontal' role='form'>
                        <legend>Coupon Rules</legend>
                        <div class='form-group'>
                            <label class='col-sm-2 control-label'>Criteria <i class='fa fa-sm fa-asterisk'></i></label>
                            <div class='col-sm-6' ng-class='{"has-error": formFailure && !coupon.rule.event_match} '>
                                <select class='form-control' ng-model='coupon.rule.event_match'>
                                    <option value='' ng-if='!coupon.rule.event_match'>Choose a criteria</option>
                                    <option ng-repeat='(key, val) in event_matches' value='{{key}}'>{{val}}</option>
                                </select>
                            </div>
                        </div>
                        <div class='form-group' ng-if='coupon.rule.event_match'>
                            <label class='col-sm-12'>Reward will be unlocked...</label>
                            <div class='col-sm-12' ng-if='coupon.rule.event_match==="on every"'>
                                <label class='col-sm-2 control-label'>Every <i class='fa fa-sm fa-asterisk'></i></label>
                                <div class='col-sm-2' ng-class='{"has-error": formFailure && !coupon.rule.event_count}'>
                                    <input type='number' class='form-control text-right' ng-model='coupon.rule.event_count' placeholder='Eg. 1, 2, 3...' min='1' steps='1'>
                                </div>
                                <label class='col-sm-2 control-label'>Starting <i class='fa fa-sm fa-asterisk'></i></label>
                                <div class='col-sm-2' ng-class='{"has-error": formFailure && !coupon.rule.event_start}'>
                                    <input type='number' class='form-control text-right' ng-model='coupon.rule.event_start' placeholder='Eg. 0, 1, 2...' min='0' steps='1'>
                                </div>
                                <div class='clearfix'></div>
                                <div>&nbsp;</div>
                                <label class='col-sm-2 control-label'>Upto <i class='fa fa-sm fa-asterisk'></i></label>
                                <div class='col-sm-2' ng-class='{"has-error": formFailure && !coupon.rule.event_end}'>
                                    <input type='number' class='form-control text-right' ng-model='coupon.rule.event_end' placeholder='Eg. 2, 3, 4...' min='{{(coupon.rule.event_start + 1) || 1}}' steps='1'>
                                </div>
                            </div>
                            <div class='col-sm-12' ng-if='coupon.rule.event_match==="after"'>
                                <label class='col-sm-2 control-label'>Starting <i class='fa fa-sm fa-asterisk'></i></label>
                                <div class='col-sm-2' ng-class='{"has-error": formFailure && !coupon.rule.event_start}'>
                                    <input type='number' class='form-control text-right' ng-model='coupon.rule.event_start' placeholder='Eg. 1, 2, 3...' min='0' steps='1'>
                                </div>
                                <label class='col-sm-2 control-label'>Upto <i class='fa fa-sm fa-asterisk'></i></label>
                                <div class='col-sm-2' ng-class='{"has-error": formFailure && !coupon.rule.event_end}'>
                                    <input type='number' class='form-control text-right' ng-model='coupon.rule.event_end' placeholder='Eg. 1, 2, 3...' min='{{offer.rule.event_start + 1}}' steps='1'>
                                </div>
                            </div>
                            <div class='col-sm-12' ng-if='coupon.rule.event_match=="on only"'>
                                <label class='col-sm-2 control-label'>On the <i class='fa fa-sm fa-asterisk'></i></label>
                                <div class='col-sm-2' ng-class='{"has-error": formFailure && !coupon.rule.event_count}'>
                                    <input type='number' class='form-control text-right' ng-model='coupon.rule.event_count' placeholder='Eg. 1, 2, 3...' min='1'>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>


                <div class='form-group' style='margin:5px'>
                  <label class='col-sm-3 control-label'>Reward Type <i class='fa fa-sm fa-asterisk'></i></label>
                  <div class='col-sm-8' style='margin:5px'>
                      <select class='form-control' ng-model='coupon.actions.reward.reward_meta.reward_type'>
                          <option value=''>Select reward type</option>
                          <option value='flatoff'>Flat Off</option>
                          <option value='discount'>Percentage Off</option>
                      </select>
                  </div>
                </div>


                      <div class='col-sm-12' ng-if='coupon.actions.reward.reward_meta.reward_type==="flatoff"' style='margin:5px'>
                          <div class='form-group'>
                              <label class='col-sm-3 control-label'>Amount Off <i class='fa fa-sm fa-asterisk'></i></label>
                              <div class='col-sm-9' ng-class='{"has-error": formFailure && !coupon.actions.reward.reward_meta.off}'>
                                  <div class='input-group' style='margin:5px'>
                                      <span class='input-group-addon'><i class='fa fa-inr'></i></span>
                                      <input type='number' ng-model='coupon.actions.reward.reward_meta.off' class='form-control'>
                                  </div>
                              </div>
                          </div>
                          <div class='form-group' ng-if='coupon.actions.reward.reward_meta.reward_type==="flatoff"' style='margin:5px'>
                              <label class='col-sm-3 control-label'>Min Spend <i class='fa fa-sm fa-asterisk'></i></label>
                              <div class='col-sm-9' ng-class='{"has-error": formFailure && !coupon.actions.reward.reward_meta.spend}'>
                                  <div class='input-group' style='margin:5px'>
                                      <span class='input-group-addon'><i class='fa fa-inr'></i></span>
                                      <input type='number' ng-model='coupon.actions.reward.reward_meta.spend' class='form-control'>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class='col-sm-12' ng-if='coupon.actions.reward.reward_meta.reward_type==="discount"' style='margin:5px'>
                          <div class='form-group'>
                              <label class='col-sm-3 control-label'>Percent Off <i class='fa fa-sm fa-asterisk'></i></label>
                              <div class='col-sm-9' ng-class='{"has-error": formFailure && !coupon.actions.reward.reward_meta.percent}'>
                                  <div class='input-group' style='margin:5px'>
                                      <input type='text' min='1' steps='1' class='form-control text-right' ng-model='coupon.actions.reward.reward_meta.percent'>
                                      <span class='input-group-addon'> % </span>
                                  </div>
                              </div>
                          </div>
                          <div class='form-group' style='margin:5px'>
                              <label class='col-sm-3 control-label'>Max Discount <i class='fa fa-sm fa-asterisk'></i></label>
                              <div class='col-sm-9' ng-class='{"has-error": formFailure && !coupon.actions.reward.reward_meta.max}'>
                                  <div class='input-group' style='margin:5px'>
                                      <span class='input-group-addon'><i class='fa fa-inr'></i></span>
                                      <input type='number' ng-model='coupon.actions.reward.reward_meta.max' class='form-control'>
                                  </div>
                              </div>
                          </div>
                      </div>

            </form>
        </div>
    </div>
</div>
